[user]
	name = Michael
	email = michael@xostrucks.com
[core]
	autocrlf = input
    editor = code --wait
[push]
	default = simple
[color]
	ui = true
	status = true
	branch = true
	interactive = true
[pull]
	rebase = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
